@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>Welcome to Lei app</h1>
        <p>free text area</p>
    </div>
</div>

<div class="container">
    welcome to the app
    <br />
    you can go to the following links:



    <div ng-controller="MainPageController">
        {{teststring}}
    </div>
</div>






