
<div>
    {{currentLocation}}
    <br />
    <input ng-model="query.param" />
    <input ng-model="query.value" />
    <button ng-click="addtoquery(query)">Add to query</button>

    <button ng-click="getCurrentUrl()"> Get current Url</button>

</div>