@using angulardemo.Infrastructure

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .popover-layer {
        width: 300px;
        height: 100px;
        border: 1px solid #ff6a00;
        position: absolute;
        top: 0;
        left: 88px;
        display:none;
    }

    .imagehover img{
        cursor:pointer;
    }

    .closeme {
        position:absolute;
        right: -8px;
        top: -5px;
    }

</style>

<div ng-controller="Link2controller">

    <div big-banner2 bannertitle={{bigBanner.header}} bannertext={{bigBanner.text}}></div>
</div>


@Html.Partial("_freetextpartial")




<div class="container">
    <div class="row">
        <div class="col-md-5">
            windows azure
            <div popover templatemodel="popover1"></div>
            
        </div>

    </div>




    <div class="row">

        <div class="span5" style="background-color:#ffd800">
            <h3>the total number is: @Html.Sum(2, 7).ToString()</h3>
            @Html.Image("http://unseenflirtspoetry.files.wordpress.com/2012/05/homer-excited.png", "homer")
        </div>
    </div>
</div>



